* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    text-align: center;
    font-size: larger;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .3)), url("https://source.unsplash.com/collection/142563/1100x800");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
}